@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.text {
  background: white;
  border-radius: 20px;
  width: 25%;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.text p {
  text-align: center;
}
